{% extends "layout.html" %}

{% block title %}
Hourly Weather
{% endblock %}

{% block main %}
<li>This page will forcast the weather for 3 days ahead.</li>
<form class="row g-3 justify-content-lg-start" action="/forcast" id="locationForm" method="post">
    <div class="col-auto">
        <button class="btn btn-primary mb-3" type="button" onclick="getLocation()">Get location</button>
    </div>
    <div class="col-auto">
        <input autofocus autocomplete="off" id="searchInput" class=" form-control col-sm-6 custom-select custom-select-sm mx-auto w-100" placeholder="City Name" name="city" type="text" list="suggestion">
        <datalist id="suggestion">
        </datalist>
    </div>
    
    <input type="hidden" id="latitudeInput" name="latitude">
    <input type="hidden" id="longitudeInput" name="longitude">
    
    <div class="col-auto">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<script>
    window.API_KEY = "{{API_KEY}}";
</script>
{% endblock %}