{% extends "layout.html" %}

{% block title %}
Todays weather
{% endblock %}

{% block main %}
<ul class="h">
    <button class="btn btn-primary mb-3" type="submit" onclick="getLocation()">Get location</button>

    <form action="/today" id="locationForm" method="post">
        <div class="mb-3">
            <input autofocus autocomplete="on" class="form-control mx-auto w-auto" placeholder="Please enter your City name" name="city">
            <input type="hidden" id="latitudeInput" name="latitude">
            <input type="hidden" id="longitudeInput" name="longitude">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</ul>
{% endblock %}