{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}

<div id="resetpassword-card">
    <h2>Reset Password</h2>
    <p>Your verification code has been verified now please enter your new password for {{session.get('email', None)}}</p>
    <hr style="margin: 16px;">
    <form action="/resetpassword" method="post">
        <div class="mb-3">
            <label for="pwd" class="form-label" style="margin-right: 225px;">Password</label>
            <input class="form-control mx-auto w-75" autocomplete="on" id="pwd" placeholder="Password" id="pwd" name="pwd" type="password">
        </div>
        <div class="mb-3">
            <label for="rpwd" class="form-label" style="margin-right: 165px;">Confirm Password</label>
            <input class="form-control mx-auto w-75" autocomplete="on" id="rpwd" placeholder="Confirm Password" id="rpwd" name="rpwd" type="password">
        </div>
        <br>
        <button class="btn btn-primary" id="submitButton" type="submit">Log In</button>
    </form>
    <div id="messageBar" class="text-danger mt-2"></div>
</div>

<script>
function validatingPassword(){
    var password = document.getElementById("pwd").value;
    var rpassword = document.getElementById("rpwd").value;
    var outputBar = document.getElementById("messageBar");

    outputBar.innerHTML = "";

    if (password === ""){
        outputBar.innerHTML = "Please enter password";
        return false;
    }

    if (rpassword !== password){
        outputBar.innerHTML = "Passwords do not Match!";
        return false;
    }

    return true;
}

// Add a submit event listener to the form for validation
document.getElementById("myForm").addEventListener("submit", function (event) {
if (!validatingPassword()) {
    event.preventDefault(); // Prevent form submission if validation fails
}
});

document.getElementById("pwd").addEventListener("input", validatingPassword);
document.getElementById("rpwd").addEventListener("input", validatingPassword);
</script>

<style>
    #resetpassword-card{
        border: 2px solid gray;
        border-radius: 5px;
        height: 480px;
        width: 400px;
        margin-left: 475px;
        padding-top: 20px;
        padding-right: 5px;
        background-color: aliceblue;
    }

    #submitButton{
        width: 210px;
        border-radius: 30px;
    }  
</style>
{% endblock %}
